<a href="https://colab.research.google.com/github/fenzhantw/Dacon_jobcare_recommend/blob/main/feature_engineering/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import math

In [53]:
path = '/content/drive/MyDrive/Colab Notebooks/job_care/'

train = pd.read_csv(path + 'train.csv')
test = pd.read_csv(path + 'test.csv')
submission = pd.read_csv(path + 'sample_submission.csv')
d_code = pd.read_csv(path + '속성_D_코드.csv', index_col=0)
h_code = pd.read_csv(path + '속성_H_코드.csv', index_col=0)
l_code = pd.read_csv(path + '속성_L_코드.csv', index_col=0)

n: 세분류코드 
s: 소분류코드   
m: 중분류코드 
l: 대분류코드

In [54]:
def add_code(df, d_code, h_code, l_code):
    df = df.copy()   

    # D Code
    df['person_prefer_d_1_n'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_1_s'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_1_m'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_1_l'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_2_n'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_2_s'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_2_m'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_2_l'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_3_n'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_3_s'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_3_m'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_3_l'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['contents_attribute_d_n'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['contents_attribute_d_s'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['contents_attribute_d_m'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['contents_attribute_d_l'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    # H Code
    df['person_prefer_h_1_m'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['person_prefer_h_2_m'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['person_prefer_h_3_m'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['contents_attribute_h_m'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    df['person_prefer_h_1_l'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_2_l'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_3_l'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['contents_attribute_h_l'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 대분류코드'])

    # L Code
    df['contents_attribute_l_n'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 세분류코드'])
    df['contents_attribute_l_s'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 소분류코드'])
    df['contents_attribute_l_m'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 중분류코드'])
    df['contents_attribute_l_l'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 대분류코드'])
    return df

In [55]:
d_code = d_code.T.to_dict()
h_code = h_code.T.to_dict()
l_code = l_code.T.to_dict()

In [56]:
train = add_code(train, d_code, h_code, l_code)
test = add_code(test, d_code, h_code, l_code)
print("train_data.shape: ", train.shape)
print("test_data.shape: ", test.shape)

train_data.shape:  (501951, 63)
test_data.shape:  (46404, 62)

In [57]:
train

            id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0            0          True  ...                    1605                    2016
1            1         False  ...                    1605                    2016
2            2         False  ...                    1572                    2016
3            3         False  ...                    1605                    2016
4            4          True  ...                    1605                    2016
...        ...           ...  ...                     ...                     ...
501946  501946         False  ...                     346                    2006
501947  501947          True  ...                      99                    2006
501948  501948          True  ...                     407                    2006
501949  501949          True  ...                     651                    2006
501950  501950          True  ...                     759                    2006

[501951 rows x 63 columns]

In [59]:
train = train.drop(['person_prefer_f','person_prefer_g'],axis=1)

# feature engineering

In [62]:
#범주 개수가 10개 넘는 카테고리 추출
up10_cat = []
columns_names=train.columns.values

for i in columns_names:
  if train[i].value_counts().count() >=10:
     up10_cat.append(i)

#타겟 추가/카테고리 변수 아닌 값 제거
up10_cat.append('target')
up10_cat.remove('id')
up10_cat.remove('person_rn')
up10_cat.remove('contents_rn')
up10_cat.remove('contents_open_dt')

In [ ]:
up10_cat

In [63]:
train = train[up10_cat]
test  = test[up10_cat[:-1]]
train.head()

   person_prefer_d_1  person_prefer_d_2  ...  contents_attribute_l_l  target
0                275                370  ...                    2016       1
1                114                181  ...                    2016       0
2                464                175  ...                    2016       0
3                703                705  ...                    2016       0
4                275                370  ...                    2016       0

[5 rows x 40 columns]

In [64]:
train_1 = train[train['target']==1]
train_0 = train[train['target']==0]

In [101]:
# 타겟의 비율 0.5%이상 차이나는 카테고리 구하기
list_diff=[]
for i in up10_cat[:-1]:
  serise=abs((train_1[i].value_counts()/train_1[i].shape[0])*100 - (train_0[i].value_counts()/train_0[i].shape[0])*100)
  temp_list=serise[serise>=0.5].index.tolist()
  list_diff.append(temp_list)

# 0.5차이 나는 값이 1개 이상인 카테고리 딕셔너리로 담기 / 0.5 차이가 나는 변수가 하나인 컬럼은 dict에서 제외
dict1 = {up10_cat[i]:list_diff[i] for i in range(len(up10_cat[:-1])) if len(list_diff[i])>1 }

In [89]:
# 컬럼 추가
for data in [train,test]:
  for key,values in dict1.items():
    data.loc[:, f"tar_enc_{key}"] = 0
    for i in values:
      con=data[data[key]==i].index
      data.loc[con, f"tar_enc_{key}"] =1

((501951, 79), (46404, 78))

In [71]:
#값 확인
print(train['tar_enc_person_prefer_d_3_s'].value_counts())
print(train[(train['person_prefer_d_3_s']==123) | (train['person_prefer_d_3_s']==703) | (train['person_prefer_d_3_s']==853) | (train['person_prefer_d_3_s']==1083)].shape)

0    414151
1     87800
Name: tar_enc_person_prefer_d_3_s, dtype: int64
(87800, 79)

In [93]:
#기존의 0.5이상인 컬럼 값은 들고오고,이하인것만 0으로 된 컬럼 추가
for data in [train,test]:
  for key,values in dict1.items():
    data.loc[:, f"tar_enc_div_{key}"] = 0
    for i in values:
      con=data[data[key]==i].index
      data.loc[con, f"tar_enc_div_{key}"] = i

In [ ]:
# concat and split
data = pd.concat([train,test])

#아래 두개 왜 안될까?
# train = data[data['target']!= np.nan]
# test = data[data['target'] == np.nan]

train = data[data['target'].notnull()]
test = data[data['target'].isnull()]

#테스트 데이터 셋 타겟 제거
test = test.drop(columns=['target'])

train.shape,test.shape