<a href="https://colab.research.google.com/github/fenzhantw/Dacon_jobcare_recommend/blob/main/feature_engineering/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import math

In [32]:
path = '/content/drive/MyDrive/Colab Notebooks/job_care/'

train = pd.read_csv(path + 'train.csv')
test = pd.read_csv(path + 'test.csv')
submission = pd.read_csv(path + 'sample_submission.csv')
d_code = pd.read_csv(path + '속성_D_코드.csv', index_col=0)
h_code = pd.read_csv(path + '속성_H_코드.csv', index_col=0)
l_code = pd.read_csv(path + '속성_L_코드.csv', index_col=0)

n: 세분류코드 
s: 소분류코드   
m: 중분류코드 
l: 대분류코드

In [33]:
def add_code(df, d_code, h_code, l_code):
    df = df.copy()   

    # D Code
    df['person_prefer_d_1_n'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_1_s'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_1_m'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_1_l'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_2_n'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_2_s'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_2_m'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_2_l'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_3_n'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_3_s'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_3_m'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_3_l'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['contents_attribute_d_n'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['contents_attribute_d_s'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['contents_attribute_d_m'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['contents_attribute_d_l'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    # H Code
    df['person_prefer_h_1_m'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['person_prefer_h_2_m'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['person_prefer_h_3_m'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    df['contents_attribute_h_m'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    df['person_prefer_h_1_l'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_2_l'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_3_l'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['contents_attribute_h_l'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 대분류코드'])

    # L Code
    df['contents_attribute_l_n'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 세분류코드'])
    df['contents_attribute_l_s'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 소분류코드'])
    df['contents_attribute_l_m'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 중분류코드'])
    df['contents_attribute_l_l'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 대분류코드'])
    return df

In [34]:
d_code = d_code.T.to_dict()
h_code = h_code.T.to_dict()
l_code = l_code.T.to_dict()

In [35]:
train = add_code(train, d_code, h_code, l_code)
test = add_code(test, d_code, h_code, l_code)
print("train_data.shape: ", train.shape)
print("test_data.shape: ", test.shape)

train_data.shape:  (501951, 63)
test_data.shape:  (46404, 62)

In [36]:
train

            id  d_l_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0            0          True  ...                    1605                    2016
1            1         False  ...                    1605                    2016
2            2         False  ...                    1572                    2016
3            3         False  ...                    1605                    2016
4            4          True  ...                    1605                    2016
...        ...           ...  ...                     ...                     ...
501946  501946         False  ...                     346                    2006
501947  501947          True  ...                      99                    2006
501948  501948          True  ...                     407                    2006
501949  501949          True  ...                     651                    2006
501950  501950          True  ...                     759                    2006

[501951 rows x 63 columns]

In [18]:
|train = train.drop(['person_prefer_f','person_prefer_g'],axis=1)

# feature engineering

In [37]:
#범주 개수가 10개 넘는 카테고리 추출
up10_cat = []
columns_names=train.columns.values

for i in columns_names:
  if train[i].value_counts().count() >=10:
     up10_cat.append(i)

#타겟 추가/카테고리 변수 아닌 값 제거
up10_cat.append('target')
up10_cat.remove('id')
up10_cat.remove('person_rn')
up10_cat.remove('contents_rn')
up10_cat.remove('contents_open_dt')

In [38]:
up10_cat

['person_prefer_d_1',
 'person_prefer_d_2',
 'person_prefer_d_3',
 'person_prefer_e',
 'person_prefer_h_1',
 'person_prefer_h_2',
 'person_prefer_h_3',
 'contents_attribute_l',
 'contents_attribute_d',
 'contents_attribute_e',
 'contents_attribute_h',
 'person_prefer_d_1_n',
 'person_prefer_d_1_s',
 'person_prefer_d_1_m',
 'person_prefer_d_1_l',
 'person_prefer_d_2_n',
 'person_prefer_d_2_s',
 'person_prefer_d_2_m',
 'person_prefer_d_2_l',
 'person_prefer_d_3_n',
 'person_prefer_d_3_s',
 'person_prefer_d_3_m',
 'person_prefer_d_3_l',
 'contents_attribute_d_n',
 'contents_attribute_d_s',
 'contents_attribute_d_m',
 'contents_attribute_d_l',
 'person_prefer_h_1_m',
 'person_prefer_h_2_m',
 'person_prefer_h_3_m',
 'contents_attribute_h_m',
 'person_prefer_h_1_l',
 'person_prefer_h_2_l',
 'person_prefer_h_3_l',
 'contents_attribute_h_l',
 'contents_attribute_l_n',
 'contents_attribute_l_s',
 'contents_attribute_l_m',
 'contents_attribute_l_l',
 'target']

In [39]:
train = train[up10_cat]
test  = test[up10_cat[:-1]]
train.head()

   person_prefer_d_1  person_prefer_d_2  ...  contents_attribute_l_l  target
0                275                370  ...                    2016       1
1                114                181  ...                    2016       0
2                464                175  ...                    2016       0
3                703                705  ...                    2016       0
4                275                370  ...                    2016       0

[5 rows x 40 columns]

In [11]:
train_1 = train[train['target']==1]
train_0 = train[train['target']==0]

In [23]:
train_1

        person_prefer_d_1  person_prefer_d_2  ...  contents_attribute_l_l  target
0                     275                370  ...                    2016       1
5                     175                181  ...                    2016       1
7                     372                299  ...                    2016       1
17                   1039               1229  ...                    2006       1
18                    999                857  ...                    2006       1
...                   ...                ...  ...                     ...     ...
501946               1192                935  ...                    2006       1
501947                118                113  ...                    2006       1
501948                147                 46  ...                    2006       1
501949                 46                147  ...                    2006       1
501950                147                 46  ...                    2006       1

[250845 rows x 40 columns]

In [13]:
# 타겟의 비율 0.5%이상 차이나는 카테고리 구하기
list_diff=[]
for i in up10_cat[:-1]:
  serise=abs((train_1[i].value_counts()/train_1[i].shape[0])*100 - (train_0[i].value_counts()/train_0[i].shape[0])*100)
  temp_list=serise[serise>=0.5].index.tolist()
  list_diff.append(temp_list)

dict1 = {up10_cat[i]:list_diff[i] for i in range(len(up10_cat[:-1]))}

In [14]:
dict1

{'contents_attribute_d': [102, 112, 114, 117, 118, 181, 713, 1227],
 'contents_attribute_d_l': [1, 926, 744, 618, 377],
 'contents_attribute_d_m': [56, 450, 659, 690, 708, 824, 927, 1000, 1227],
 'contents_attribute_d_n': [101,
  110,
  114,
  136,
  145,
  175,
  452,
  703,
  709,
  968,
  1227],
 'contents_attribute_d_s': [91,
  109,
  123,
  152,
  451,
  463,
  703,
  708,
  831,
  961,
  1227],
 'contents_attribute_e': [1, 2, 4],
 'contents_attribute_h': [27],
 'contents_attribute_h_l': [3, 48, 208, 250, 277],
 'contents_attribute_h_m': [339],
 'contents_attribute_l': [1582, 1851],
 'contents_attribute_l_l': [2006, 2009, 2010, 2016, 2017, 2018, 2019, 2020],
 'contents_attribute_l_m': [573, 693, 930, 1021, 1572, 1713, 1752, 1832],
 'contents_attribute_l_n': [1580, 1846],
 'contents_attribute_l_s': [1579, 1843],
 'person_prefer_d_1': [1227],
 'person_prefer_d_1_l': [1, 216, 377, 618, 926],
 'person_prefer_d_1_m': [2, 56, 450, 690, 927, 1053, 1227],
 'person_prefer_d_1_n': [110, 452, 703, 1086, 1227],
 'person_prefer_d_1_s': [123, 451, 703, 1086, 1227],
 'person_prefer_d_2': [1086],
 'person_prefer_d_2_l': [1, 216, 377, 618, 926],
 'person_prefer_d_2_m': [2, 56, 450, 690, 927, 1053],
 'person_prefer_d_2_n': [110, 175, 452, 703, 1086],
 'person_prefer_d_2_s': [123, 451, 703, 1086],
 'person_prefer_d_3': [857],
 'person_prefer_d_3_l': [1, 926],
 'person_prefer_d_3_m': [56, 690, 824, 927, 1053],
 'person_prefer_d_3_n': [145, 175, 703, 854],
 'person_prefer_d_3_s': [123, 703, 853, 1083],
 'person_prefer_e': [0, 3, 5, 6],
 'person_prefer_h_1': [4],
 'person_prefer_h_1_l': [3, 48, 71, 208, 250, 277],
 'person_prefer_h_1_m': [316],
 'person_prefer_h_2': [4, 95, 251],
 'person_prefer_h_2_l': [3, 94, 208, 226, 250],
 'person_prefer_h_2_m': [316, 398, 518],
 'person_prefer_h_3': [49, 59],
 'person_prefer_h_3_l': [3, 48, 58, 208, 250],
 'person_prefer_h_3_m': [359, 368]}

In [17]:
# 0.5%이상 차이나는 값은 1, 아닌 값은 0으로 데이터 값 업데이트
for i in up10_cat:
  train.loc[:, f"tar_enc_{i}"] = 0
  for i2 in list_diff:
    for i in up10_cat:
      train.loc[:, f"tar_enc_{i}"] = 0
      for i3 in i2:
        con=train[train[i]==i3].index
        train.loc[con, f"tar_enc_{i}"] =1

KeyboardInterrupt: ignored

In [18]:
#값 확인
train['person_prefer_d_1_1']=0
con=train[train['person_prefer_d_1']==1227].index
train.loc[con,'person_prefer_d_1_1'] =1
train['person_prefer_d_1_1'].value_counts()

0    477614
1     24337
Name: person_prefer_d_1_1, dtype: int64

In [19]:
for key,values in dict1.items():
  print(key)
  print(values)
  train.loc[:, f"tar_enc_{key}"] = 0
  for i in values:
    con=train[train[key]==i].index
    train.loc[con, f"tar_enc_{key}"] =1

person_prefer_d_1
[1227]
person_prefer_d_2
[1086]
person_prefer_d_3
[857]
person_prefer_e
[0, 3, 5, 6]
person_prefer_h_1
[4]
person_prefer_h_2
[4, 95, 251]
person_prefer_h_3
[49, 59]
contents_attribute_l
[1582, 1851]
contents_attribute_d
[102, 112, 114, 117, 118, 181, 713, 1227]
contents_attribute_e
[1, 2, 4]
contents_attribute_h
[27]
person_prefer_d_1_n
[110, 452, 703, 1086, 1227]
person_prefer_d_1_s
[123, 451, 703, 1086, 1227]
person_prefer_d_1_m
[2, 56, 450, 690, 927, 1053, 1227]
person_prefer_d_1_l
[1, 216, 377, 618, 926]
person_prefer_d_2_n
[110, 175, 452, 703, 1086]
person_prefer_d_2_s
[123, 451, 703, 1086]
person_prefer_d_2_m
[2, 56, 450, 690, 927, 1053]
person_prefer_d_2_l
[1, 216, 377, 618, 926]
person_prefer_d_3_n
[145, 175, 703, 854]
person_prefer_d_3_s
[123, 703, 853, 1083]
person_prefer_d_3_m
[56, 690, 824, 927, 1053]
person_prefer_d_3_l
[1, 926]
contents_attribute_d_n
[101, 110, 114, 136, 145, 175, 452, 703, 709, 968, 1227]
contents_attribute_d_s
[91, 109, 123, 152, 451, 463, 703, 708, 831, 961, 1227]
contents_attribute_d_m
[56, 450, 659, 690, 708, 824, 927, 1000, 1227]
contents_attribute_d_l
[1, 926, 744, 618, 377]
person_prefer_h_1_m
[316]
person_prefer_h_2_m
[316, 398, 518]
person_prefer_h_3_m
[359, 368]
contents_attribute_h_m
[339]
person_prefer_h_1_l
[3, 48, 71, 208, 250, 277]
person_prefer_h_2_l
[3, 94, 208, 226, 250]
person_prefer_h_3_l
[3, 48, 58, 208, 250]
contents_attribute_h_l
[3, 48, 208, 250, 277]
contents_attribute_l_n
[1580, 1846]
contents_attribute_l_s
[1579, 1843]
contents_attribute_l_m
[573, 693, 930, 1021, 1572, 1713, 1752, 1832]
contents_attribute_l_l
[2006, 2009, 2010, 2016, 2017, 2018, 2019, 2020]

In [20]:
#값 확인 2
train['tar_enc_person_prefer_d_1'].value_counts()

0    477614
1     24337
Name: tar_enc_person_prefer_d_1, dtype: int64

In [24]:
train.head()

   person_prefer_d_1  person_prefer_d_2  ...  tar_enc_target  person_prefer_d_1_1
0                275                370  ...               0                    0
1                114                181  ...               0                    0
2                464                175  ...               0                    0
3                703                705  ...               0                    0
4                275                370  ...               0                    0

[5 rows x 81 columns]

In [ ]:
#test에 똑같은 방식으로 데이터 추가

#train에 1로 안 바꾸고 기존의 0.5이상인 컬럼 라벨은 들고오고,이하인것만 0으로 바꾸기

#0.5 차이가 나는 변수가 하나인 컬럼은 dict에서 제외